nav.main {
    height: 100px;
    // background-color: rgba(255,255,255, 0.4);
    // background-color: $md-indigo-700;
    padding: 0 32px;

    // @extend .shadow-3;

    & > ul { 
        height: inherit;
        margin: 0; 
        padding: 0; 
    }

    & .nav-item {
        height: 32px;
        display: block;
        float: left;

        padding: 0 2rem;

        margin-top: 34px;
        margin-left: 16px;

        border-radius: 2px;

        list-style-type: none;
        cursor: pointer;

        text-transform: uppercase;
        line-height: 32px;
        font-size: 16px;
        text-align: center;

        color: white;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);

        // color: black;
        // background-color: white;

        // @extend .shadow-hover-2;
        transition: all .55s cubic-bezier(.25,.8,.25,1);

        &:hover {
            background-color: rgba(158,158,158,0.4);
        }
    }
}