@import "mdcolors";
@import "shadows";
@import "vars";
@import "buttons";
@import "components";

@media screen and (max-width: 768px) {
    @import "headernav";
}

@media screen and (min-width: 769px) {
    @import "sidebarnav";
}

@import "cover";

// actual css stuffs now
.standout {
    color: $primary;
}

* {
    font-family: $mainFontFamily;
}

.row-section, .row-section-alt {
    padding: 32px 0;
}

.row-header-alt {
    background-color: $md-red-600;
    color: white;
    border-bottom: 1px dashed $md-red-800;
}

.row-section-alt {
    background-color: $md-red-400;
}

.social-icon-wrapper {
    width: 320px;
    height: 80px;
    margin: 0 auto;
    padding: 8px 0;
}

.header-social {
    width: 240px;
    height: 64px;
    margin: 0 auto;
}

.social-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    float: left;
    background-color: $md-red-700;
    margin: 16px 8px;
    cursor: pointer;

    & a {
        text-decoration: none;
        text-align: center;
    }
    & .fa {
        font-size: 20px;
        line-height: 32px;
        color: white;
    }

    &:hover {
        background-color: $md-red-900;
    }
}
