// colors
$primary:  #E65F3E;
$primaryDark: #262626;
$secondaryDark: #2f2f2f;
$tertiaryDark: #3f3f3f;
$lightGray: #f0f0f0;
   
// sizes n shit
$sidebarWidth: 300px;

@font-face {
    font-family: Gotham-Medium;
    src: url("/static/fonts/Gotham-Medium.ttf");
}

@font-face {
    font-family: Sentinel-Light;
    src: url("/static/fonts/Sentinel-Light.ttf");
}

@font-face {
     font-family: Sentinel-Medium;
     src: url("/static/fonts/Sentinel-Medium.ttf");
}

$bodyFontFamily: Sentinel-Light;
$headerFontFamily: Sentinel-Medium;
$sideBarFontFamily: Gotham-Medium;

// actual css stuffs now
body, html {
    padding: 0;
    margin: 0;
}

.standout {
    color: $primary;
}

* {
    font-family: $bodyFontFamily;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $headerFontFamily !important;
}

@media screen and (max-width: 768px) {
    #sidebar {
        display: none;
    }
}


@media screen and (min-width: 769px) {
    #sidebar {
        position: fixed;
        width: $sidebarWidth;
        // height: 1280px; // set in beta.js
        float: left;
        background-color: $primaryDark;
    }

    #sidebar-nav {
        position: absolute;
        width: $sidebarWidth;
        bottom: 0;

        .sidebar-nav-item {
            position: relative;
            height: 60px;
            padding: 20px 0;
            text-align: center;
            border-bottom: 1px solid $secondaryDark;
            color: #fff;
            font-size: 20px;
            letter-spacing: 5px;
            cursor: pointer;
            overflow: hidden;

            &:first-child {
                border-top: 1px solid $secondaryDark;
            }

            &.active {
                background-color: $secondaryDark;
            }

            & > span {
                position: relative;
                font-family: $sideBarFontFamily;
                z-index: 5;
            }

            & .clickCircle {
                position: absolute;
                width: 30px;
                height: 30px;
                background-color: $secondaryDark;
                border-radius: 50%;
                z-index: 3;
            }
        }
    }
}

#face {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 50px;
    left: 75px;
    border-radius: 50%;
    border: 5px solid $secondaryDark;
    background: url('/static/images/headshot.jpg');
    background-size: contain;
    z-index: 101;
}

.container-footer {
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    color: white;
    background-color: $primary;
}

.sidebar-open {
    margin-left: 300px !important;
}

.row-header {
    background-color: $lightGray;
}

.row-section {
    padding-bottom: 75px;
}

.row-header-alt {
    color: $secondaryDark;
    background-color: $primary;
}

.row-section-alt {
    background-color: $primary + #111;
    color: $primaryDark;
    padding-bottom: 75px;

    & .standout {
        color: white;
    }
}

#nav-btn {
    display: none;
    & .fa {
        font-size: 50px;
        transition: color 0.25s;

        &:hover {
            transition: color 0.5s;
            color: $primary;
        }
    }
}

@media screen and (min-width: 769px) {
    #header-nav {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #header-nav {
        position: fixed;
        width: 100%;
        margin-top: 100px;
        background-color: $primaryDark;
        text-align: center;

        & .header-nav-item {
            color: white;
            height: 51px;
            font-size: 14px;
            letter-spacing: 3px;
            cursor: pointer;
            padding: 18px;
            border-bottom: 1px solid $secondaryDark;

            &:hover {
                background-color: darken($tertiaryDark, 5%);
            }

            &:first-child {
                border-top: 1px solid $secondaryDark;
            }

            & > span {
                font-family: $sideBarFontFamily; // TODO: change this variable name
            }
        }
    }
}


.row-img {
    height: 300px;
    overflow: hidden;
    background-image: url('/static/images/photos/lakeside.jpg');
    background-repeat: no-repeat;
    background-size: cover; // gets changed in js
    background-attachment: fixed;
    background-position-x: $sidebarWidth;
    background-position-y: -100px;
}

/* some media queries */

// TODO: add a variable $headerHeightMobile or something
// $headerHeightMin = 150px;
$headerPadding: 30px;

@media screen and (max-width: 768px) {
    #face {
        width: 80px;
        height: 80px;
        // top: ($headerHeightMin - 100) / 2
        border-width: 3px;
        top: 10px;
        left: $headerPadding;

        &.face-hover {
            transition: border-color .5s;
            &:hover {
                border-color: $primary;
                transition: border-color .5s;
            }
        }
    }
    
    #nav-btn {
        position: fixed;
        display: block;
        // top: ($headerHeightMin - 50) / 2
        top: 25px;
        right: $headerPadding;
        cursor: pointer;
        z-index: 101;
    }
    
    #header {
        position: fixed;
        width: 100%;
        height: 100px;
        background-color: $primaryDark;
        z-index: 100;
    }
    
    .container-fluid {
        padding-top: 100px;
    }
}

