.cover-img {
    height: 250px;
    margin-top: 100px;
    background: url('../images/bridgedark.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 0;

    & h1 {
        height: 50px;
        margin: 0;

        font-size: 40px;
        line-height: 50px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 0 10px 20px rgba(0, 0, 0, 0.23), 0 10px 20px rgba(0, 0, 0, 0.40);

        color: white;
    }

    & h4 {
        position: relative;
        height: 25px;
        margin: 0;

        font-size: 16px;
        line-height: 25px;
        color: white;
        font-family: 'Helvetica Neue', Arial, sans-serif;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: inline-block;
    }

    & h4:before, h4:after {
        content: "";
        position: absolute;
        width: 40px;
        height: 1px;
        top: 12px;
        border-top: 1px dashed white;
    }

    & h4:before {
        right: 100%;
        margin-right: 12px;
    }

    & h4:after {
        left: 100%;
        margin-left: 10px;
    }

    & h4:first-of-type {
        margin-top: 75px;
    }
}

@media screen and (min-width: 500px) {
    .cover-img {

        & h1 {
            height: 70px;
            font-size: 55px;
            line-height: 70px
        }

        & h4:first-of-type {
            margin-top: 65px;
        }

        & h4:before, h4:after {
            width: 100px;
        }
    }
}

@media screen and (min-width: 769px) {
    .cover-img {
        margin-left: $sidebarWidth;
        margin-top: 0;
    }
}

@media screen and (min-width: 1070px) {
    .cover-img {
        height: 350px;

        & h1 {
            height: 100px;
            font-size: 100px;
            line-height: 100px;
        }

        & h4 {
            position: relative;
            height: 30px;
            margin: 0;
            color: white;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 5px;
        }

        & h4:first-of-type { 
            margin-top: 95px;
        }

        & h4:before, h4:after {
            top: 14px;
        }

        & h4:before {
            margin-right: 21px;
        }

        & h4:after {
            margin-left: 16px;
        }
    }
}