* {
  margin: 0;
  padding: 0;
}
#header {
  height: 80px;
  background-color: #3c3c3c;
}
#header #header-title {
  margin: 25px 0 25px 30px;
  float: left;
  line-height: 30px;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 5px;
  font-family: 'Montserrat', Georgia, Serif;
  font-weight: 100;
}
#header #header-title .bold {
  font-weight: 700;
}
#cover1 {
  width: 1280px;
  height: 500px;
  background-image: url("/static/images/cover.jpg");
}
