{% extends 'base.html' %}
{% block content %}

<section class="heading">
    <h2>{{ title }}</h2>
    <h3>J. Henry Majoros</h3>
</section>

<section class="page-about content container">
    <div class="row">
        <div class="col-sm-4">
            <h4>Education</h4>
            <div class="accent-45"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>I have a passion for all things web, but have concentrated mostly on the front end through my work experience. I enjoy creating interfaces that are not only easy to use, but also refined and clean. I take careful thought into every detail, even in how my code is structured. I consider myself well versed in  javascript, HTML, and CSS. When I'm not writing code or sketching designs, I try to spend as much time outdoors as possible. Photography and film are two of my greatest passions in life, which pair nicely with my love for hiking, running, and nature in general. I am currently looking for a full time work, specifically in front end development, user interface development, or user experience. I graduate from the University of Michigan in May 2016.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h4>Relevant Coursework</h4>
            <div class="accent-45"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>I have a passion for all things web, but have concentrated mostly on the front end through my work experience. I enjoy creating interfaces that are not only easy to use, but also refined and clean. I take careful thought into every detail, even in how my code is structured. I consider myself well versed in  javascript, HTML, and CSS. When I'm not writing code or sketching designs, I try to spend as much time outdoors as possible. Photography and film are two of my greatest passions in life, which pair nicely with my love for hiking, running, and nature in general. I am currently looking for a full time work, specifically in front end development, user interface development, or user experience. I graduate from the University of Michigan in May 2016.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h4>Skills</h4>
            <div class="accent-45"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>I have a passion for all things web, but have concentrated mostly on the front end through my work experience. I enjoy creating interfaces that are not only easy to use, but also refined and clean. I take careful thought into every detail, even in how my code is structured. I consider myself well versed in  javascript, HTML, and CSS. When I'm not writing code or sketching designs, I try to spend as much time outdoors as possible. Photography and film are two of my greatest passions in life, which pair nicely with my love for hiking, running, and nature in general. I am currently looking for a full time work, specifically in front end development, user interface development, or user experience. I graduate from the University of Michigan in May 2016.
            </p>
        </div>
    </div>
</section>


{% endblock %}
