{% extends 'base.html' %}
{% block content %}

<section class="page-about content container">
  <div class="row">
    <div class="col-sm-4">
      <h4>About Me</h4>
      <div class="accent-45"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p> I have a passion for all things web, but have concentrated mostly on the front end through my work experience. I enjoy creating interfaces that are not only easy to use, but also refined and clean. I take careful thought into every detail, even in how my code is structured. I consider myself well versed in  javascript, HTML, and CSS. When I'm not writing code or sketching designs, I try to spend as much time outdoors as possible. Photography and film are two of my greatest passions in life, which pair nicely with my love for hiking, running, and nature in general. I am currently looking for a full time work, specifically in front end development, user interface development, or user experience. I graduate from the University of Michigan in May 2016.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h4>Education</h4>
      <div class="accent-45"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>I am currently a Senior at the University of Michigan, studying Computer Science. Through my Computer Science degree, I've had the opportunity to take challenging and engaging classes. Often times, projects for class have turned into larger projects that I work on in my spare time. The University of Michigan is also home to one of the worlds largest hackathons, at which most of my personal projects have been created.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h4>Relevant Coursework</h4>
      <div class="accent-45"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="course-list">
        <li><span>EECS 493</span> User Interfaces</li>
        <li><span>SI 206</span> Agile Web Development</li>
        <li><span>EECS 281</span> Data Structures &amp; Algorithms</li>
        <li><span>EECS 376</span> Theory of Computation</li>
        <li><span>EECS 492</span> Artificial Intelligence</li>
        <li><span>EECS 370</span> Computer Architecture</li>
        <li><span>EECS 485</span> Web Database Information Systems</li>
        <li><span>EECS 481</span> Software Engineering (Senior Design)</li>
      </ul>
    </div>
  </div>
</section>


{% endblock %}
