<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }} - hmajoros</title>
        <link rel="stylesheet" type="text/css" href="static/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/fa/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="static/stylesheets/beta.css">
        <link rel="icon" type="image/png" href="images/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
    </head>
    <body>

    {% include 'header.html' %}
    {% include 'sidebar.html' %}

    <section class="cover-img">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h4>Hello! My name is</h4>
            <h1>Henry Majoros</h1>
            <h4>Web | UI/UX | Design | More</h4>
          </div>
        </div>
      </div>
    </section>

    {% block content %}{% endblock %}
    
    <script src="static/js/jquery-1.11.1.min.js"></script>
    <script src="static/js/jquery-ui.min.js"></script>
    <script src="static/js/beta.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55171436-1', 'auto');
      ga('send', 'pageview');

    </script>
    
    </body>
</html>
