<!DOCTYPE html>
<html>
    <head>
        <title>{{title}} - hmajoros</title>
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/beta.css">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/bootstrap.min.css">
        <link rel="icon" type="image/png" href="/static/images/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    
        
    <div id="header">
        
        <div id="face"></div>
        <div id="nav-btn"></div>
        
        <div id="header-nav" class="hide">
            <div class="header-nav-item active"><span>HOME</span></div>
            <div class="header-nav-item"><span>ABOUT</span></div>
            <div class="header-nav-item"><span>EXPERIENCE</span></div>
            <div class="header-nav-item"><span>PROJECTS</span></div>
            <div class="header-nav-item"><span>PHOTOS</span></div>
            <div class="header-nav-item"><span>CONTACT</span></div>
        </div>
    </div>
    
    <div id="sidebar">
        <div id="sidebar-nav">
            <div class="sidebar-nav-item active"><span>HOME</span></div>
            <div class="sidebar-nav-item"><span>ABOUT</span></div>
            <div class="sidebar-nav-item"><span>EXPERIENCE</span></div>
            <div class="sidebar-nav-item"><span>PROJECTS</span></div>
            <div class="sidebar-nav-item"><span>PHOTOS</span></div>
            <div class="sidebar-nav-item"><span>CONTACT</span></div>
        </div>
    </div>

    <div id="content" class="container-fluid sidebar-open">
        <div class="row row-header">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h1>Header 1</h1>
            </div>
        </div>
        <div class="row row-section">
            <div class="col-md-4">
                <h2 class="standout text-center">Subheader left</h2>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>

            <div class="col-md-4">
                <h2 class="standout text-center">Subheader center</h2>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
            </div>

            <div class="col-md-4">
                <h2 class="standout text-center">Subheader right</h2>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </div>
        </div>
        
        <div class="row row-header-alt">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h1>Header 2</h1>
            </div>
        </div>
        <div class="row row-section-alt">
            <div class="col-md-4">
                <h2 class="standout text-center">Subheader left</h2>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>

            <div class="col-md-4">
                <h2 class="standout text-center">Subheader center</h2>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
            </div>

            <div class="col-md-4">
                <h2 class="standout text-center">Subheader right</h2>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </div>
        </div>
    </div>



    
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/beta.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <!-- google analytics shit -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55171436-1', 'auto');
      ga('send', 'pageview');

    </script>
    </body>
</html>
