{% extends 'base.html' %}

{% block content %}
<section class="cover-img">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h4>Hello! My name is</h4>
                <h1>Henry Majoros</h1>
                <h4>Web | UI/UX | Design | More</h4>
            </div>
        </div>
    </div>
</section>

<section class="content container-fluid">
    <div class="row row-header">
        <div class="col-xs-12 text-center">
            <h1>About Me</h1>
        </div>
    </div>
    <div class="row row-section">
        <div class="col-xs-12">
            My background in photography paired with strong web development skills allows me to create sleek and polished designs. Careful thought is put into even the smallest aspects of all my work, and I have understood the importance of hard work since a young age. Although most of my formal education has been with C++, I consider myself a very strong front end developer. My first experience with web development was in the 10th grade and I have been teaching myself ever since.
        </div>
    </div>

    <div class="row row-header-alt">
        <div class="col-xs-12 text-center">
            <h2>Courses / Skills</h2>
        </div>
    </div>
    <div class="row row-section-alt text-center">
        <div class="col-xs-12 col-md-6">
            <div class="flat-container-left">
                <div class="section-left">
                    <div class="text-main">492</div>
                    <div class="text-accent">EECS</div>
                </div>
                <div class="text-desc">Artificial Intelligence</div>
            </div>
            <div class="flat-container-left">
                <div class="section-left">
                    <div class="text-main">493</div>
                    <div class="text-accent">EECS</div>
                </div>
                <div class="text-desc">User Interfaces</div>
            </div>
            <div class="flat-container-left">
                <div class="section-left">
                    <div class="text-main">206</div>
                    <div class="text-accent">SI</div>
                </div>
                <div class="text-desc">Agile Web Development</div>
            </div>
            <div class="flat-container-left">
                <div class="section-left">
                    <div class="text-main">281</div>
                    <div class="text-accent">EECS</div>
                </div>
                <div class="text-desc">Data Structures &amp; Algorithms</div>
            </div>
            <div class="flat-container-left">
                <div class="section-left">
                    <div class="text-main">371</div>
                    <div class="text-accent">MATH</div>
                </div>
                <div class="text-desc">Numerical Methods</div>
            </div>
            <div class="flat-container-left">
                <div class="section-left">
                    <div class="text-main">425</div>
                    <div class="text-accent">MATH</div>
                </div>
                <div class="text-desc">Probability</div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="flat-container-right">
                <div class="section-right">
                    <div class="text-main">5+</div>
                    <div class="text-accent">YEARS</div>
                </div>
                <div class="text-desc">Photoshop</div>
            </div>
            <div class="flat-container-right">
                <div class="section-right">
                    <div class="text-main">4+</div>
                    <div class="text-accent">YEARS</div>
                </div>
                <div class="text-desc">HTML / CSS</div>
            </div>
            <div class="flat-container-right">
                <div class="section-right">
                    <div class="text-main">4+</div>
                    <div class="text-accent">YEARS</div>
                </div>
                <div class="text-desc">Javascript</div>
            </div>
            <div class="flat-container-right">
                <div class="section-right">
                    <div class="text-main">3+</div>
                    <div class="text-accent">YEARS</div>
                </div>
                <div class="text-desc">C++</div>
            </div>
            <div class="flat-container-right">
                <div class="section-right">
                    <div class="text-main">2+</div>
                    <div class="text-accent">YEARS</div>
                </div>
                <div class="text-desc">PHP</div>
            </div>
            <div class="flat-container-right">
                <div class="section-right">
                    <div class="text-main">2+</div>
                    <div class="text-accent">YEARS</div>
                </div>
                <div class="text-desc">MySQL</div>
            </div>
            <div class="flat-container-right">
                <div class="section-right">
                    <div class="text-main">2+</div>
                    <div class="text-accent">YEARS</div>
                </div>
                <div class="text-desc">Git</div>
            </div>
        </div>
    </div>
</section>

{% endblock %}