<section class="content container-fluid hide" id="section5">

    <div class="row row-header">
        <div class="col-xs-12 text-center">
            <h1>Contact</h1>
        </div>
    </div>
    <div class="row row-section">
        <div class="col-xs-12 text-center">
        Please use the below form to contact me about work opportunites, freelance work, or just to say hi! I will respond to you at my earliest convenience,
        </div>
    </div>
    <div class="row row-section">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Recruiter at Company XYZ">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="recruiting@xyz.com">
                </div>

                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" id="subject" placeholder="Info about excellent job offer">
                </div>

                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" rows="6" id="message" placeholder="Say hi!"></textarea>
                </div>

                <button class="btn btn-danger pull-left" type="reset">Clear Form</button>
                <button class="btn btn-primary pull-right" type="submit">Send Message</button>
            </form>
        </div>
    </div>

    <!-- TODO: include social links on this page -->

</section>