{% extends 'base.html' %}
{% block content %}

<section class="page-contact content container">
  <div class="row">
    <div class="col-sm-4">
      <h4>Contact</h4>
      <div class="accent-45"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      {% if submitSuccess %}
        <div class="alert alert-info"><strong>Thank you!</strong> Your contact request has been recieved!</div>
      {% endif %}
      <form action="/contact-submit" method="POST">

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" placeholder="Enter Name">
        </div>

        <div class="form-group">
          <label for="email">Contact Email</label>
          <input type="text" class="form-control" name="email" placeholder="Enter Email">
        </div>
        
        <label for="message">Message</label>
        <textarea class="form-control" name="message" rows="5"></textarea>

        <button role="submit" class="btn-flat btn-raised btn-blue pull-right">Submit Form</button>

      </form>
    </div>
  </div>
</section>


{% endblock %}
