<section class="content container-fluid hide" id="section1">
    
    <div class="row row-header">
        <div class="col-xs-12 text-center">
            <h1>Experience</h1>
        </div>
    </div>
    <div class="row row-section">
        <div class="col-xs-12 col-md-6 col-lg-4 text-center">
            <h1 class="condensed">Grooveshark</h1>
            <h4 class="standout condensed">June 2014 - August 2014</h4>
            <h4 class="condensed">Gainesville, FL</h4>
            <img class="photo" src="/static/images/grooveshark.png" />
            <p class="text-left">
                I spent the past summer working as a front end web intern for Grooveshark. I had a broad range of responsibilities, and on any given day I could find myself fixing bugs for their new web player or creating my own projects. For the first half of the summer, the interns attended classes with a University of Florida professor, who gave us a 4 week crash course on everything you need to know about web development. For the next 4 weeks, I was paired with a Grooveshark developer and worked on adding features to their Desktop Application. My main project was working on a miniplayer for the desktop app, which was one of the top requested features by the Grooveshark community.
            </p>
            <h4 class="text-left condensed">Technologies Used: <span class="standout">Javascript (node.js), HTML5, CSS3</span></h4>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4 text-center">
            <h1 class="condensed">Arts at Michigan</h1>
            <h4 class="standout condensed">September 2013 - Present</h4>
            <h4 class="condensed">University of Michigan</h4>
            <img class="photo" src="/static/images/aam.png" />
            <p class="text-left">
                I began working with Arts at Michigan immediately after leaving CAEN in September 2013. The job was (and still is) perfect for me, because it allows my strong photograpy background to shine through while helping other students learn more about different art programs around campus. I am the only web developer in the office, but frequently find myself working side by side with graphic designers and program leaders. In the past, I had never worked across the full stack, and I still find new challenges to complete everyday I go into work.
            </p>
            <h4 class="text-left condensed">Technologies Used: <span class="standout">HTML5, CSS3, Javascript, PHP, mySQL</span></h4>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4 text-center">
            <h1 class="condensed">CAEN</h1>
            <h4 class="standout condensed">May 2013 - September 2013</h4>
            <h4 class="condensed">University of Michigan</h4>
            <img class="photo" src="/static/images/umlogo.png" />
            <p class="text-left">
                Working for the Computer Aided Engineering Netwok (CAEN) web team was my first real life experience with web development. I spent the summer assisting in the migration of all sites under the Engineering School's domain. Within our team, all sites were migrated from Plone CMS and implemented in more user-friendly content management systems, like Google Sites and Wordpress. Our team worked directly with the owners of each site to ensure that content was successfuly migrated and we ensured that content was tested across three operating systems and five different browsers.
            </p>
            <h4 class="text-left condensed">Technologies Used: <span class="standout">HTML, CSS</span></h4>
        </div>
    </div>
</section>