<header>
    <div class="face-header"></div>
    <div class="nav-btn"><i class="fa fa-bars"></i></div>
</header>

<nav class="header-nav hide">
    <div class="header-nav-item active" data-scroll="0">
        <span href="index.html">HOME</span>
    </div>
    <div class="header-nav-item" data-scroll="2">
        <span href="experience.html">EXPERIENCE</span>
    </div>
    <div class="header-nav-item" data-scroll="3">
        <span href="projects.html">PROJECTS</span>
    </div>
    <div class="header-nav-item" data-scroll="4">
        <span href="photos.html">PHOTOS</span>
    </div>
    <div class="header-nav-item" data-scroll="5">
        <span href="contact.html">CONTACT</span>
    </div>
    <div class="header-social">
        <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="social-icon"><i class="fa fa-file-text"></i></a>
        <a href="#" class="social-icon"><i class="fa fa-github"></i></a>
        <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
    </div>
</nav>