<section class="accent-top"></section>

<nav>
  <i class="material-icons menu">menu</i>
  <ul id="menu-items" class="hide-mobile">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/work">Work</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/photos">Photos</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav> 

<!-- Adding name to top of every page -->
{% if title != 'home' %}
  <section class="hero">
    <a href="/"><h1>J. Henry Majoros</h1></a>
  </section>
{% endif %}
