<!DOCTYPE html>
<html>
    <head>
        <title>{{title}} - hmajoros</title>
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/main.css">
        <link rel="icon" type="image/png" href="/static/images/favicon.png">
        <script src="/static/js/jquery-1.11.1.min.js"></script>
        
    </head>
    <body>
        <div id="header">
            <div class="header-topic" data-attribute="0"><a data-scroll href="#header" class="header-link">HOME</a></div>
            <div class="header-topic" data-attribute="1"><a data-scroll href="#education" class="header-link">EDUCATION</a></div>
            <div class="header-topic" data-attribute="2"><a data-scroll href="#experience" class="header-link">EXPERIENCE</a></div>
            <div class="header-topic" data-attribute="3"><a data-scroll href="#photos" class="header-link">PHOTOS</a></div>
            <div class="header-topic" data-attribute="4"><a data-scroll href="#contact" class="header-link">CONTACT</a></div>

            <div id="underline"></div>
            <div id="underline-hover"></div>
        </div>

        <div id="cover">
            <div id="name"></div>

            <div id="social">
                <div id="resume" class="flip-container">
                    <div class="tile">
                        <div class="tile-front"></div>
                        <a href="/static/files/hmajoros_resume.pdf" class="tile-back icon-social"></a>
                    </div>
                </div>

                <div id="github" class="flip-container">
                    <div class="tile">
                        <div class="tile-front"></div>
                        <a href="http://github.com/hmajoros" class="tile-back icon-social"></a>
                    </div>
                </div>

                <div id="linkedin" class="flip-container">
                    <div class="tile">
                        <div class="tile-front"></div>
                        <a href="https://www.linkedin.com/in/hmajoros" class="tile-back icon-social"></a>
                    </div>
                </div>

                <div id="twitter" class="flip-container">
                    <div class="tile">
                        <div class="tile-front"></div>
                        <a href="http://twitter.com/hankinator_" class="tile-back icon-social"></a>
                    </div>
                </div>

            </div>

        </div>

        <div id="about" class="container-fluid main-content">
            <div class="grid">
                <div class="col-md-12">
                    <h1>About Me</h1>
                    <p class="lead-text">My background in photography paired with strong web development skills allows me to create sleek and polished designs. Careful thought is put into even the smallest aspects of all my work, and I have understand the importance of hard work since a young age. Although most of my formal education has been with C++, I consider myself a very strong front end developer. My first experience with web development was in the 10th grade and I have been teaching myself ever since.</p>
                </div>
            </div>
        </div>

        <div id="education" class="section-header">EDUCATION</div>
        <div class="container-fluid main-content">
            <div class="grid">
                <div class="col-md-4 ">
                    <h1>Technical Skills</h1>
                    <ul style="text-align: left">
                        <li><span class="standout">Javascript:</span> Expert </li>
                        <li><span class="standout">HTML5:</span> Expert </li>
                        <li><span class="standout">CSS3:</span> Expert </li>
                        <li><span class="standout">C++ / C:</span> - Expert </li>
                        <li><span class="standout">git:</span> Advanced </li>
                        <li><span class="standout">Photoshop:</span> Advanced </li>
                        <li><span class="standout">PHP:</span> Above Average </li>
                        <li><span class="standout">mySQL:</span> Above Average </li>
                    </ul>
                    <p>I also have strong experience in both Mac and Windows environments, as well as a working knowledge of terminal commands. In the past, I have developed code in editors from vim to Sublime and Xcode.</p>
                </div>
                <div class="col-md-4 text-center">
                    <h1>University of Michigan</h1>
                    <img src="/static/images/um.gif" style="width:60%;" />
                    <h3 class="standout">B.S. Computer Science - May 2016</h3>
                    <h4>Minor in Mathematics</h4>
                </div>
                <div class="col-md-4 text-center">
                    <h1>Relevant Coursework</h1>
                    <ul style="text-align: left">
                        <li><span class="standout">281:</span> Data Structures and Algorithms</li>
                        <li><span class="standout">370:</span> Computer Organization</li>
                        <li><span class="standout">492:</span> Artificial Intelligence</li>
                        <li><span class="standout">484:</span> Database Management Systems</li>
                        <li><span class="standout">217:</span> Linear Algebra</li>
                        <li><span class="standout">371:</span> Numerical Methods for Engineers</li>
                        <li><span class="standout">425:</span> Probability</li>
                    </ul>
                    <p>
                </div>
            </div>
        </div>

        <div id="experience" class="section-header">EXPERIENCE</div>
        <div class="container-fluid main-content">
            <div class="grid">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h1 class="standout">Coming soon!</h1>
                </div>
                <!-- <div class="col-md-4 text-center">
                    <h1>About Me</h1>
                    <p>i dont know what i want to put here</p>
                </div>
                <div class="col-md-4 text-center">
                    <h1></h1>
                    <p>i dont know what i want to put here</p>
                </div>
                <div class="col-md-4 text-center">
                    <h1>Relevant Coursework</h1>
                    <ul style="text-align: left">
                        <li><strong>281:</strong> Data Structures and Algorithms</li>
                        <li><strong>370:</strong> Computer Organization</li>
                        <li><strong>492:</strong> Artificial Intelligence</li>
                        <li><strong>484:</strong> Database Management Systems</li>
                    </ul>
                </div> -->
            </div>
        </div>
    
        <div id="photos" class="section-header">PHOTOS</div>
        <div class="container-fluid main-content">
            <div class="grid">
                <div class="col-md-4 text-center">
                    <div id="photo1" class="photo">
                        <div class="photo-text"></div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div id="photo2" class="photo">
                        <div class="photo-text"></div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div id="photo3" class="photo">
                        <div class="photo-text"></div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-md-4 text-center">
                    <div id="photo4" class="photo">
                        <div class="photo-text"></div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div id="photo5" class="photo">
                        <div class="photo-text"></div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div id="photo6" class="photo">
                        <div class="photo-text"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="contact" class="section-header">CONTACT</div>
        <div class="container-fluid main-content">
            <div class="grid">
                <div class="col-md-4">
                    <h1>Email: <small><a href="mailto:hmajoros@umich.edu">hmajoros@umich.edu</a></small></h1>
                    <h1>LinkedIn: <small><a href="https://www.linkedin.com/in/hmajoros">/in/hmajoros</a></small></h1>
                </div>
                <div class="col-md-4 text-center">
                    <h1><a href="/static/files/hmajoros_resume.pdf">Resume</a></h1>
                </div>
                <div class="col-md-4">
                    <h1>Github: <small><a href="http://github.com/hmajoros">hmajoros</a></small></h1>
                    <h1>Twitter: <small><a href="http://twitter.com/hankinator_">hmajoros</a></small></h1>
                </div>
            </div>
        </div>

    <script src="/static/js/bootstrap.min.js"></script>    
    <script src="/static/js/main.js"></script>
    <!-- smooth scrolling libraries -->
    <script src="/static/js/bind-polyfill.js"></script>
    <script src="/static/js/smooth-scroll.js"></script>
    <script>
        smoothScroll.init();
    </script>     
    </body>
</html>
