<!DOCTYPE html>
<html>
    <head>
        <title>{{title}} - hmajoros</title>
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/main.css">
        <link rel="icon" type="image/png" href="/static/images/favicon.png">
        <script src="/static/js/jquery-1.11.1.min.js"></script>
        
    </head>
    <body>
        <div id="header">
            <div class="header-topic" data-attribute="0"><a href="#" class="header-link">HOME</a></div>
            <div class="header-topic" data-attribute="1"><a href="#" class="header-link">EDUCATION</a></div>
            <div class="header-topic" data-attribute="2"><a href="#" class="header-link">EXPERIENCE</a></div>
            <div class="header-topic" data-attribute="3"><a href="#" class="header-link">PHOTOS</a></div>
            <div class="header-topic" data-attribute="4"><a href="#" class="header-link">CONTACT</a></div>

            <div id="underline"></div>
            <div id="underline-hover"></div>
        </div>

        <div id="cover">
            <div id="name"></div>

            <div id="social">
                <div id="resume" class="flip-container">
                    <div class="tile">
                        <div class="tile-front"></div>
                        <a href="#" class="tile-back icon-social"></a>
                    </div>
                </div>

                <div id="github" class="flip-container">
                    <div class="tile">
                        <div class="tile-front"></div>
                        <a href="#" class="tile-back icon-social"></a>
                    </div>
                </div>

                <div id="linkedin" class="flip-container">
                    <div class="tile">
                        <div class="tile-front"></div>
                        <a href="#" class="tile-back icon-social"></a>
                    </div>
                </div>

                <div id="twitter" class="flip-container">
                    <div class="tile">
                        <div class="tile-front"></div>
                        <a href="#" class="tile-back icon-social"></a>
                    </div>
                </div>


                <!-- <a id="resume" href="#" class="icon-social"></a>
                <a id="github" href="#" class="icon-social"></a>
                <a id="linkedin" href="#" class="icon-social"></a>
                <a id="twitter" href="#" class="icon-social"></a> -->
            </div>

        </div>

        <div class="section-body" style="clear:both">
            <h1>About me:</h1>
            <p>i dont know what i want to put here</p>

        </div>

        <div id="education">
            <div class="section-header">EDUCATION</div>
            <div class="section-body">
                <h2>Header one</h2>
                <p>This is my section body for education. blah blah blah it has some stuff</p>
                <div class="diamond-3"></div>
                <div class="diamond-3"></div>
                <div class="diamond-3"></div>
            </div>
        </div>

        <div id="experience">

        </div>

        <div id="photos">

        </div>

        <div id="contacts">

        </div>

    
    <script src="/static/js/main.js"></script>
    </body>
</html>
