<section class="content container-fluid hide" id="section4">

    <!-- ====================================================================== -->

    <!--        TODO: make section for stuff like "people", "landscape", 
                      "nature", etc... -->

    <!-- ====================================================================== -->

    <div class="row row-header">
        <div class="col-xs-12 text-center">
            <h1>Photos</h1>
        </div>
    </div>
    <div class="row row-section">
        <div class="col-xs-12 text-center">
            <h5>Portrait</h5>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3">
            <div style="background-image: url('/static/images/photos/tracks.jpg')" class="photo">
                <div class="photo-text">
                    <i class="fa fa-photo"></i>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div style="background-image: url('/static/images/photos/lakeside.jpg')" class="photo" />
                <span class="photo-text">

                </span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div style="background-image: url('/static/images/photos/sunset.jpg')" class="photo" />
                <span class="photo-text">

                </span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div style="background-image: url('/static/images/photos/dunes.jpg')" class="photo" />
                <span class="photo-text">

                </span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div style="background-image: url('/static/images/photos/golf.jpg')" class="photo" />
                <span class="photo-text">

                </span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div style="background-image: url('/static/images/photos/swan.jpg')" class="photo" />
                <span class="photo-text">

                </span>
            </div>
        </div>
    </div>

</section>