<section class="content container-fluid hide" id="section4">

    <!-- ====================================================================== -->

    <!--        TODO: make section for stuff like "people", "landscape", 
                      "nature", etc... -->

    <!-- ====================================================================== -->

    <div class="row row-header">
        <div class="col-xs-12 text-center">
            <h1>Photos</h1>
        </div>
    </div>
    <div class="row row-section">
        <div class="col-xs-12 text-center">
            Below are some of the photos I have taken over the years. These photos were taken all across the United States, and feature stunning views from Michigan, North Carolina, Florida, and Arizona, to name a few. (Still a work in progress!)
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <img src="/static/images/photos/tracks.jpg" class="full-image" alt="train tracks from the arb" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <img src="/static/images/photos/lakeside.jpg" class="full-image" alt="Lakeside view from nothern michigan" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <img src="/static/images/photos/sunset.jpg" class="full-image" alt="view of the sunset from I-75 S near south beach, FL" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <img src="/static/images/photos/dunes.jpg" class="full-image" alt="Sleeping Bear sand dunes, Traverse City, MI" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <img src="/static/images/photos/golf.jpg" class="full-image" alt="personal driving range in northern michigan" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <img src="/static/images/photos/swan.jpg" class="full-image" alt="swan in winter, taken at nichols arboretum" />
        </div>
    </div>

</section>