{% extends 'base.html' %}
{% block content %}

<section class="page-about content container">
  <div class="row">
    <div class="col-sm-4">
      <h4>Projects</h4>
      <div class="accent-45"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-text">
          <h4>Grooveshark</h4>
          <h3>Desktop Miniplayer</h3>
          <p>Implemented all basic music player functionality while delivering the top requested community feature. Built on node webkit and node.js and tested across multiple OS’s and underwent rigorous code reviews.</p>

          <h4>Technologies Used:</h4>
          <ul>
            <li>Node Webkit</li>
            <li>Javascript / node.js</li>
            <li>HTML / CSS</li>
          </ul>
        </div>
        <div class="card-action">
          <a class="btn-flat">View Projects</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div style="height: 100px"></div>

{% endblock %}
