<section class="content container-fluid hide" id="section2">

    <div class="row row-header">
        <div class="col-xs-12 text-center">
            <h1>Projects</h1>
        </div>
    </div>
    <div class="row row-section">
        <div class="col-xs-12 text-center">
        The below section will feature some of the projects I have worked on in the past, or am currently working on. Check out my <a href="http://github.com/hmajoros">github</a> to see the code behind these cool projects!
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-6 text-center">
            <div class="info-cnt">
                <div class="cnt-hdr">GitMe</div>
                <div class="cnt-body">
                    <div class="main-text hide">This project utilizes both the GroupMe and Github APIs to assisting development groups to improve productivity. Sends a group message to all members when code is committed to Github, and retrieves statistics about each
member’s activity, including code additions, deletions, and commits for the most recent week.</div>
                    <div class="btn-more">&#43;</div>
                    <div class="btn-less hide">&#43;</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 text-center">
            <div class="info-cnt">
                <div class="cnt-hdr">OpenSpace</div>
                <div class="cnt-body alt-image">
                    <div class="main-text hide">Project for MHacks V. Acts as an open-source alternative to popular website builders like Squarspace or Wordpress. Utilizes a Python backend to handle user auth and storage of tempaltes, which can be created, uploaded, or downloaded by any user.</div>
                    <div class="btn-more">&#43;</div>
                    <div class="btn-less hide">&#43;</div>
                </div>
            </div>
        </div>
    </div>
</section>
