{% extends 'base.html' %}
{% block content %}

<section class="page-about content container">
  <div class="row">
    <div class="col-sm-4">
      <h4>Projects</h4>
      <p class="accent-text">For some projects, I unfortunately cannot give a link to source code. For these projects, I've included screenshots of my work instead! </p>
      <div class="accent-45"></div>
    </div>
  </div>
  <div class="row">
    
    {% for p in projects %}
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <div class="card-text">
            <h4>{{ p.subtitle }}</h4>
            <h3>{{ p.title }}</h3>
            <p>{{ p.description }}</p>

            <h4>Technologies Used:</h4>
            <ul>
              {% for t in p.tech %}
              <li>{{ t }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
</section>

<!-- TODO: this is a cheap temp fix. add some padding at the bottom -->
<div style="height: 100px"></div>

{% endblock %}
