<div class="sidebar">
    <div class="face-sidebar"></div>

    <nav class="sidebar-nav">
        <div class="sidebar-nav-item active" data-scroll="0">
            <span>ABOUT ME</span>
        </div>
        <div class="sidebar-nav-item" data-scroll="1">
            <span>EXPERIENCE</span>
        </div>
        <div class="sidebar-nav-item" data-scroll="2">
            <span>PROJECTS</span>
        </div>
        <div class="sidebar-nav-item" data-scroll="3">
            <span>DESIGN</span>
        </div>
        <div class="sidebar-nav-item" data-scroll="4">
            <span>PHOTOS</span>
        </div>
        <div class="sidebar-nav-item" data-scroll="5">
            <span>CONTACT</span>
        </div>
    </nav>
</div>