{% extends 'base.html' %}
{% block content %}

<section class="page-work content container">
  <div class="row">
    <div class="col-sm-4">
      <h4>Work Experience</h4>
      <div class="accent-45"></div>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-head" style="background-image: url('/static/images/grooveshark.jpg')">
        </div>
        <div class="card-text">
          <h3>Grooveshark</h3>
          <p>Attended classes with University of Florida professor and learned more about large-scale web development. Gained experience with workflow when having multiple collaborators working on the same project. Increased my knowledge of git and learned how it is used in production.</p>
        </div>
        <div class="card-action">
          <a class="btn-flat btn-disabled">View Site</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-head" style="background-image: url('/static/images/zappos.jpg')">
        </div>
        <div class="card-text">
          <h3>Zappos</h3>
          <p>Redesigned and restructured front end for Zappos blogs using HTML5 / CSS3 / vanilla javascript. Maintained best web practices and accessibility standards throughout entire project. Improved skills with git for version control and increased knowledge of SEO.</p>
        </div>
        <div class="card-action">
          <a href="http://zappos.com" class="btn-flat">View Site</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-head" style="background-image: url('/static/images/aam.jpg')">
        </div>
        <div class="card-text">
          <h3>Arts At Michigan</h3>
          <p>Full stack development, with work ranging from HTML5/CSS3 to PHP and mySQL. Utilize tools like photoshop to create page layouts and other designs, and then transform those designs into code. Independently manage entire site to create richer student engagement in the arts.</p>
        </div>
        <div class="card-action">
          <a href="http://arts.umich.edu" class="btn-flat">View Site</a>
        </div>
      </div>
    </div>

  </div>
</section>


{% endblock %}
