{% extends 'base.html' %}
{% block content %}

<section class="heading">
    <h2>J. Henry Majoros</h2>
</section>

<section class="page-about content container">
    <div class="row">
        <div class="col-sm-4">
            <h4>Work Experience</h4>
            <div class="accent-45"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-head" style="background-image: url('/static/images/grooveshark.png')">
                    <h3>Workplace Name</h3>
                </div>
                <div class="card-text">
                    <p>Information about this workplace goes here. talk about past projects, roles, and responsibilities</p>
                </div>
                <div class="card-action">
                    <button class="btn-flat">Click Me</button>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
