.accent-top {
    height: 3px;
    background: linear-gradient(to right, $clr-main-1 0%, $clr-main-1 16.666%, $clr-main-2 16.666%, $clr-main-2 33.333%, $clr-main-3 33.333%, $clr-main-3 50%, $clr-main-4 50%, $clr-main-4 66.666%, $clr-main-5 66.666%, $clr-main-5 83.333%, $clr-main-6 83.333%, $clr-main-6 100%);

    // TODO: MAKE THIS LOOK NICER. MIXIN OR SOMETHING
    // THIS IS HORSESHIT RIGHT NOW
}

@media screen and (min-width: 529px) {
    .accent-top {
        display: none;
    }
}

.accent-45 {
    background: linear-gradient(45deg, $clr-main-1 0%, $clr-main-1 16.666%, $clr-main-2 16.666%, $clr-main-2 33.333%, $clr-main-3 33.333%, $clr-main-3 50%, $clr-main-4 50%, $clr-main-4 66.666%, $clr-main-5 66.666%, $clr-main-5 83.333%, $clr-main-6 83.333%, $clr-main-6 100%);
    height: 16px;
    width: 100%;
}
