.card {
    box-shadow:0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
    background-color: white;
    border-radius: 2px;

    .card-head {
        position: relative;
        height: 180px;
        padding: 16px;
        background-size: cover;
        color: white;

        .material-icons {
            position: absolute;
            width: 32px;
            height: 32px;
            top: 16px;
            right: 16px;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            border-radius: 3px;
            color: white;
            background-color: rgba(255, 255, 255, 0.12);

            transition: background-color .2s ease-in-out;

            &:hover {
                background-color: rgba(255, 255, 255, 0.16);
            }
        }
    }

    .card-text {
        color: rgba(0,0,0,.54);
        font-size: 13px;
        line-height: 18px;
        overflow: hidden;
        padding: 16px;

        /* H4 tag used for a subtitle that sits above the main title
         * see the projects page for an example */
        h4 {
          font-size: 13px;
          font-weight: 400;
          margin: 0 0 4px 1px;
          line-height: 24px;
        }

        /* if two h4 tags are present, we have multiple headers within one card.
         * again, see projects page for example */
        h4 ~ h4 {
          margin-top: 16px;
          padding-top: 12px;
          border-top: 1px dashed #eee;
        }

        h3 {
            margin: 0 0 12px 0;
            font-weight: 400;
            font-size: 24px;
            color: rgba(0, 0, 0, 0.70);
        }

        p {
            margin: 0;
            font-weight: 400;
        }

        ul {
          padding-left: 24px;

          li {
            font-weight: 400;
          }
        }
    }

    .card-action {
        border-top: 1px solid rgba(0,0,0,.1);
        text-align: right;

        a {
            text-decoration: none;
            color: black;
        }
    }
}
