section.heading {
    margin-top: 32px;
    padding: 16px;

    > h2 {
        margin: 0;
        text-align: center;
        font-family: 'Abril Fatface';
        font-size: 20vw;
        color: rgba(0, 0, 0, 0.75);
    }

    > h3 {
        margin: 0;
        text-align: center;
        font-family: 'Roboto';
        font-weight: 100;
        font-size: 32px;
        font-style: italic;
        color: rgba(0, 0, 0, 0.54);
    }
}

@media screen and (min-width: 529px) {
    section.heading {
        margin: 0;

        > h2 {
            font-size: 128px;
        }

        > h3 {
            font-size: 36px;
        }
    }
}

