section.hero {
    text-align: center;
    margin-top: 64px;
    color: rgba(0, 0, 0, 0.75);

    img {
        position: absolute;
        height: 32px;
        margin: 16px;
        top: 0;
        right: 0;
        border-radius: 50%;
    }


    h1 {
        margin: 0 16px;
        font-family: 'Abril Fatface';
        font-size: 64px; // minimum font size for small screens
        text-align: center;
    }

    .about {
        margin-top: 24px;

        h4 {
            margin: 0;
            font-family: 'Roboto';
            font-size: 28px;
            font-weight: 100;
            font-style: italic;
        }
    }
}

@media screen and (min-width: 768px) {
    section.hero {
        margin-top: 48px;

        h1 {
            font-size: 10vw; // scales font based on viewport width
        }

        img {
            position: relative;
            height: 200px;
            border-radius: 50%;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            transition: box-shadow .2s ease-in-out;

            &:hover {
                box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            }
        }

        .about {
            display: inline-block;

            h4 {
                margin: 16px 0 0 0;
                padding: 0 48px;
                border-right: 1px solid #bbb;
                float: left;
                font-weight: 300;
            }

            h4:last-child {
                border: none;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    section.hero h1 {
        font-size: 128px; // max font size for main header
    }
}
