section.hero-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;

  .about {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-75%);
        -ms-transform: translateY(-75%);
            transform: translateY(-75%);
    text-align: center;
    margin: 0;

    .about-text {
      display: inline-block;
    }
  }

  .btn-wrap {
    position: absolute;
    width: 100%;
    bottom: 32px;
    text-align: center;
  }

}

@media screen and (min-width: 529px) {
  section.hero-cover {
    margin-top: -48px;
  }
}
