* {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-weight: 300;
  text-align: left; }

h4 {
  font-size: 32px;
  margin-bottom: 0; }

.accent-text {
  font-size: 18px;
  font-style: italic;
  font-weight: 300; }

.accent-45 {
  margin: 16px 0; }

.btn-flat {
  background: none;
  position: relative;
  display: inline-block;
  height: 36px;
  min-width: 64px;
  margin: 8px;
  padding: 0 12px;
  line-height: 36px;
  color: black;
  border: none;
  border-radius: 2px;
  overflow: hidden;
  vertical-align: middle;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  text-align: center;
  transition: background-color .2s ease-in-out; }
  .btn-flat:hover {
    background-color: rgba(158, 158, 158, 0.2); }
  .btn-flat:active {
    background-color: rgba(158, 158, 158, 0.4); }
  .btn-flat .material-icons {
    display: block;
    float: left;
    line-height: 36px;
    margin-left: -12px;
    margin-right: 8px;
    padding: 0 6px;
    background-color: rgba(0, 0, 0, 0.12); }
  .btn-flat.btn-red {
    background-color: #e57373;
    color: white; }
  .btn-flat.btn-blue {
    background-color: #64b5f6;
    color: white; }
  .btn-flat.btn-pink {
    background-color: #f06292;
    color: white; }
  .btn-flat.btn-green {
    background-color: #81c784;
    color: white; }
  .btn-flat.btn-amber {
    background-color: #ffd54f;
    color: white; }
  .btn-flat.btn-indigo {
    background-color: #7986cb;
    color: white; }
  .btn-flat.btn-raised {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
    .btn-flat.btn-raised:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      text-decoration: none; }

nav ul {
  display: none; }
nav .menu {
  position: absolute;
  padding: 16px;
  top: 0;
  left: 0;
  line-height: 32px;
  cursor: pointer; }

@media screen and (min-width: 529px) {
  nav {
    height: 48px;
    text-align: center;
    border-top: 3px solid #eaeaea; }
    nav .menu {
      display: none; }
    nav ul {
      display: inline-block;
      list-style-type: none;
      margin: -3px 0 0 0;
      padding: 0; }
    nav li {
      height: 48px;
      float: left;
      border-top: 3px solid #eaeaea; }
    nav li:nth-child(1) {
      border-top-color: #e57373; }
    nav li:nth-child(2) {
      border-top-color: #ffd54f; }
    nav li:nth-child(3) {
      border-top-color: #81c784; }
    nav li:nth-child(4) {
      border-top-color: #64b5f6; }
    nav li:nth-child(5) {
      border-top-color: #7986cb; }
    nav li:nth-child(6) {
      border-top-color: #f06292; }
    nav li:nth-child(1):hover {
      background-color: #e57373; }
    nav li:nth-child(2):hover {
      background-color: #ffd54f; }
    nav li:nth-child(3):hover {
      background-color: #81c784; }
    nav li:nth-child(4):hover {
      background-color: #64b5f6; }
    nav li:nth-child(5):hover {
      background-color: #7986cb; }
    nav li:nth-child(6):hover {
      background-color: #f06292; }
    nav li > a {
      display: block;
      padding: 0 16px;
      line-height: 48px;
      color: rgba(0, 0, 0, 0.75);
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      font-weight: 700; }
      nav li > a:hover {
        text-decoration: none;
        color: white; }
    nav li:hover {
      background-color: rgba(200, 200, 200, 0.4); }
    nav li:active, nav li:focus {
      color: rgba(0, 0, 0, 0.75);
      text-decoration: none; } }
@media screen and (min-width: 768px) {
  nav li > a {
    padding: 0 24px; } }
section.hero {
  text-align: center;
  margin-top: 64px;
  margin-bottom: 32px;
  color: rgba(0, 0, 0, 0.75); }
  section.hero img {
    position: absolute;
    height: 32px;
    margin: 16px;
    top: 0;
    right: 0;
    border-radius: 50%; }
  section.hero h1 {
    margin: 0 16px;
    font-family: 'Abril Fatface';
    font-size: 64px;
    text-align: center;
    letter-spacing: initial; }
  section.hero .about {
    margin-top: 24px; }
    section.hero .about h4 {
      margin: 0;
      font-family: 'Roboto';
      font-size: 28px;
      font-weight: 100;
      font-style: italic; }
  section.hero .btn-wrap {
    margin-top: 32px;
    text-align: center; }

@media screen and (min-width: 768px) {
  section.hero {
    margin-top: 48px; }
    section.hero h1 {
      font-size: 10vw; }
    section.hero img {
      position: relative;
      height: 200px;
      border-radius: 50%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      transition: box-shadow .2s ease-in-out; }
      section.hero img:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    section.hero .about {
      display: inline-block; }
      section.hero .about h4 {
        margin: 16px 0 0 0;
        padding: 0 48px;
        border-right: 1px solid #bbb;
        float: left;
        font-weight: 300; }
      section.hero .about h4:last-child {
        border: none; } }
@media screen and (min-width: 1200px) {
  section.hero h1 {
    font-size: 128px; } }
.accent-top {
  height: 3px;
  background: linear-gradient(to right, #e57373 0%, #e57373 16.666%, #ffd54f 16.666%, #ffd54f 33.333%, #81c784 33.333%, #81c784 50%, #64b5f6 50%, #64b5f6 66.666%, #7986cb 66.666%, #7986cb 83.333%, #f06292 83.333%, #f06292 100%); }

@media screen and (min-width: 529px) {
  .accent-top {
    display: none; } }
.accent-45 {
  background: linear-gradient(45deg, #e57373 0%, #e57373 16.666%, #ffd54f 16.666%, #ffd54f 33.333%, #81c784 33.333%, #81c784 50%, #64b5f6 50%, #64b5f6 66.666%, #7986cb 66.666%, #7986cb 83.333%, #f06292 83.333%, #f06292 100%);
  height: 4px;
  width: 100%; }

section.heading {
  margin-top: 32px;
  padding: 16px; }
  section.heading > h2 {
    margin: 0;
    text-align: center;
    font-family: 'Abril Fatface';
    font-size: 20vw;
    color: rgba(0, 0, 0, 0.75); }
  section.heading > h3 {
    margin: 0;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 32px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.54); }

@media screen and (min-width: 529px) {
  section.heading {
    margin: 0; }
    section.heading > h2 {
      font-size: 128px; }
    section.heading > h3 {
      font-size: 36px; } }
.card {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
  border-radius: 2px; }
  .card .card-head {
    position: relative;
    height: 180px;
    padding: 16px;
    background-size: cover;
    color: white; }
    .card .card-head .material-icons {
      position: absolute;
      width: 32px;
      height: 32px;
      top: 16px;
      right: 16px;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      border-radius: 3px;
      color: white;
      background-color: rgba(255, 255, 255, 0.12);
      transition: background-color .2s ease-in-out; }
      .card .card-head .material-icons:hover {
        background-color: rgba(255, 255, 255, 0.16); }
  .card .card-text {
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    padding: 16px;
    /* H4 tag used for a subtitle that sits above the main title
     * see the projects page for an example */
    /* if two h4 tags are present, we have multiple headers within one card.
     * again, see projects page for example */ }
    .card .card-text h4 {
      font-size: 13px;
      font-weight: 400;
      margin: 0 0 4px 1px;
      line-height: 24px; }
    .card .card-text h4 ~ h4 {
      margin-top: 16px;
      padding-top: 12px;
      border-top: 1px dashed #eee; }
    .card .card-text h3 {
      margin: 0 0 12px 0;
      font-weight: 400;
      font-size: 24px;
      color: rgba(0, 0, 0, 0.7); }
    .card .card-text p {
      margin: 0;
      font-weight: 400; }
    .card .card-text ul {
      padding-left: 24px; }
      .card .card-text ul li {
        font-weight: 400; }
  .card .card-action {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: right; }
    .card .card-action a {
      text-decoration: none;
      color: black; }

section.page-photos .row-photos {
  margin: 16px 0;
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em; }
section.page-photos .photo {
  display: inline-block;
  width: 100%;
  margin: 0 0 12px 0;
  padding: 0;
  float: none; }
section.page-photos .img {
  position: relative;
  display: block; }

/*# sourceMappingURL=main.css.map */
