// theme colors (taken from md-colors.scss)
$clr-main-1: $clr-red-300;
$clr-main-2: $clr-amber-300;
$clr-main-3: $clr-green-300;
$clr-main-4: $clr-blue-300;
$clr-main-5: $clr-indigo-300;
$clr-main-6: $clr-pink-300;
