.photo {
    height: 200px;
    width: 100%;
    margin-bottom: 8px;
    background-size: cover;

    &:hover .photo-text {
        opacity: .8;
    }
}

.photo-text {
    width: 100%;
    height: 100%;
    padding: 8px;

    opacity: 0;
    background-color: $md-grey-900;
    color: white;

    text-align: center;

    & > .fa {
        font-size: 32px;
    }
}