$primary: #E65F3E;
$primary: #BF4068;
$primaryDark: #262626;
$secondaryDark: #2f2f2f;
$tertiaryDark: #3f3f3f;
$lightGray: #f0f0f0;

$blue: #4F90BC;

@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
@import url("http://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url("http://fonts.googleapis.com/css?family=Oswald:300,400");

$mainFontFamily: Roboto, serif;

/* sizes n shit */
$sidebarWidth: 320px;